<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" href="./css/index.css" rel="stylesheet" />
    <script src="./script/Canvas.js"></script>
    <title>Map</title>
  </head>
  <body>
    <div class="btnFrame">
      <button id="updateMap">지도 불러오기</button>
    </div>
    <div class="mapFrame">
      <canvas id="map" class="map" width="1000" height="1000"></canvas>
    </div>
    <script>
      const testSize = 5;
      const testMapData = [
        [100.0, 100.0],
        [150.0, 200.0],
        [250.0, 300.0],
        [300.0, 250.0],
        [200.0, 150.0],
      ];
      const map = new Canvas("map");
      map.drawMap(testMapData, testSize);
    </script>
  </body>
</html>
